.result-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 80px 20px 20px 20px;
  background: no-repeat url("../../img/bg.png");
  background-size: cover;

  &.web {
    padding: 0px 20px 20px 20px;
    height: 100%;

    button {
      height: 40px;
    }
  }

  .icon0,
  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6,
  .icon7 {
    margin-bottom: 10px;
  }

  .img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button {
    background-color: white;
    min-width: 300px;
    margin-bottom: 10px;
    height: 50px;

    &:first-child {
      margin-top: 10px;
    }

    span {
      color: black;
    }
  }
}
